*{
    margin: 0px;
    padding: 0px;
}
nav{
    margin-left: 15px;
    margin-right: 15px;
}

nav a:hover{

    text-decoration: underline rgb(89, 24, 150);
    font-weight: bold;
    color: rgb(89, 24, 150);

}
.btn:hover{


    background-color: rgba(66, 19, 110, 0.67);
    color: rgb(255, 255, 255);

}
